<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">


  <!-- Meals Tab -->
  <ion-tab title="Status" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/meals">
    <ion-nav-view name="tab-meals"></ion-nav-view>
  </ion-tab>
  
   <!-- Chats Tab -->
  <ion-tab title="Track" icon-off="ion-ios-camera-outline" icon-on="ion-ios-camera" ui-sref="tab.track">
    <ion-nav-view name="tab-track"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
