<ion-view view-title="Track Meal">
  
  <ion-nav-buttons side="secondary">
    <button class="button button-icon ion-camera" ng-click="addPicture()"></button>
      
      
      </ion-nav-buttons>
    
    </ion-nav-buttons>
  
  
  
  <ion-content class="padding">
    
    
    <form name="createMeal" novalidate=""  ng-submit="trackMeal(createMeal)" >
      
      
      <ion-list>
        <label class="item item-input item-stacked label">
          <span class="input-label">Description</span>
          <input type="text" placeholder="Description" name="title" ng-model="formData.title">
        </label>
        
         <label class="item item-input item-stacked label">
          <span class="input-label">Type</span>
         <select name="category"  ng-model="formData.category">
           
           <option value="snack">Snack</option>
           <option value="meal">Meal</option>
           <option value="drink">Drink</option>
          
           
           
           
         </select>
            
            
            
        </label>
        
        <div class="padding" >
				<button class="button button-positive button-block"
				        type="submit" >Create
				</button >
			</div >
			
        
        
        </ion-list>
      
      
      </form>
    
    
  
  </ion-content>
</ion-view>