<ion-view view-title="Meals">
  <ion-content class="padding">
    
    
    <div class="list card item-card" ng-repeat="meal in meals">
      
      
      <div class="item">
        
        <h1>{{meal.title}}</h1>
        <p>{{meal.category}}</p>
        
        
        </div>
        
        
        	
		<div class="item item-image" ng-if="meal.image" >
				<img ng-src="data:image/jpeg;base64,{{meal.image}}" width="100%" />
			</div >
      
      
      </div>
    
    
    
  
  </ion-content>
</ion-view>